<!DOCTYPE html>
<html ng-app="dojo">
<head>
	<title>Dojo</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-controller="DojoController">
	<dir class="container">
		<div class="page-header">
		  <h1>TDV Dojo <small>{{ nome }}</small></h1>
		</div>		

		<div class="panel panel-default">
  			<div class="panel-body">
				<form ng-submit="save()">
					<label>ID:</label>
					<input type="text" class="form-control" name="id" ng-model="id" disabled="disabled">
					<label>Nome:</label>
					<input type="text" class="form-control" name="nome" ng-model="nome">
					<hr>
					<button type="submit" class="btn btn-primary pull-right">
						<i class="glyphicon glyphicon-floppy-disk"></i> Salvar
					</button>
				</form>
			</div>
		</div>

		<table class="table table-condensed table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th class="col-md-1 text-center">ID</th>
					<th>Nome</th>
					<th class="col-md-1 text-center">
						<button type="submit" class="btn btn-default btn-block">
							<i class="glyphicon glyphicon-plus"></i>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in pessoas">
					<td class="col-md-1 text-center">{{p.id}}</td>
					<td>{{p.nome}}</td>
					<td class="col-md-1 text-center">
						<button class="btn btn-warning btn-sm" ng-click="edit(p.id)">
							<i class="glyphicon glyphicon-pencil"></i> 
						</button>
						<button class="btn btn-danger btn-sm" ng-click="delete(p.id)">
							<i class="glyphicon glyphicon-trash"></i> 
						</button>
					</td>
				</tr>
				<tr class="text-center">
					<td colspan="2">&nbsp;</td>
					<td>
						<button class="btn btn-default btn-block" ng-click="atualizaTabela()" >
							<i class="glyphicon glyphicon-refresh"></i> 
						</button>						
					</td>
				</tr>
			</tbody>
		</table>
	</dir>

	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript">
	
		var dojo = angular.module('dojo', []);
		dojo.controller('DojoController', function($scope, $http) {

 			$scope.atualizaTabela = function(){
	 			$http.get('http://localhost:8080/read').then(function(resp) {
					console.log(resp);
					$scope.pessoas = resp.data;
				}, function(erro) {
					console.log(erro); 
				});
 			}
			
			$scope.save = function() {

				if($scope.action == 'edit'){
					$http({
				      url: "http://localhost:8080/update",
				      method: "PUT",
				      data: "id="+$scope.id+"&nome="+$scope.nome,
	        		  headers: {'Content-Type': 'application/x-www-form-urlencoded'}
				    }).then(function(resp) {
				      $scope.pessoas = resp.data;
				    });	

				}else {
					$http({
				      url: "http://localhost:8080/create",
				      method: "POST",
				      data: "nome="+$scope.nome,
	        		  headers: {'Content-Type': 'application/x-www-form-urlencoded'}
				    }).then(function(resp) {
				      $scope.pessoas = resp.data;
				    });
				}
			}

			$scope.delete = function(id) {
				console.log(id);
				$http.delete("http://localhost:8080/delete/"+id).then(function(resp) {
					console.log(resp);
					$scope.pessoas = resp.data;
				}, function(erro) {
					console.log(erro); 
				});



			}

			$scope.edit = function(id) {
	 			$http.get('http://localhost:8080/find/'+id).then(function(resp) {
					$scope.id = resp.data[0].id;
					$scope.nome = resp.data[0].nome;

					$scope.action = "edit";
				}, function(erro) {
					console.log(erro); 
				});
			}			

			$scope.action = "none";
			$scope.atualizaTabela();
		});

	</script>

</body>
</html>